In [1]:
import pandas as pd #data manipulation
import numpy as np #calculus and algebra
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('TMQ09.20240323163028.csv')

In [2]:
df.head()

,C02173V02619,Area of Residence,TLIST(Q1),Quarter,STATISTIC,Statistic Label,UNIT,VALUE
0,-,All Countries,20121,2012Q1,TMQ09C1,Overseas Trips to Ireland by Non-Residents,Thousand,1167.0
1,-,All Countries,20121,2012Q1,TMQ09C2,Average Length of Stay by Overseas Travellers ...,Nights,6.8
2,-,All Countries,20121,2012Q1,TMQ09C3,Expenditure by Overseas Travellers in Ireland ...,Euro Million,483.0
3,-,All Countries,20122,2012Q2,TMQ09C1,Overseas Trips to Ireland by Non-Residents,Thousand,1817.0
4,-,All Countries,20122,2012Q2,TMQ09C2,Average Length of Stay by Overseas Travellers ...,Nights,7.0

In [3]:
df.shape

(864, 8)

In [6]:
print(df.groupby('Statistic Label').size())

Statistic Label
Average Length of Stay by Overseas Travellers to Ireland           288
Expenditure by Overseas Travellers in Ireland (excluding fares)    288
Overseas Trips to Ireland by Non-Residents                         288
dtype: int64

In [7]:
df.dtypes

C02173V02619          object
Area of Residence     object
TLIST(Q1)              int64
Quarter               object
STATISTIC             object
Statistic Label       object
UNIT                  object
VALUE                float64
dtype: object

In [10]:
print(df.isnull().sum())

C02173V02619         0
Area of Residence    0
TLIST(Q1)            0
Quarter              0
STATISTIC            0
Statistic Label      0
UNIT                 0
VALUE                0
dtype: int64