In [1]:
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Attractions_df = pd.read_csv('Attractions.csv') #Reading in the CSV file

# Exploring the data

In [3]:
Attractions_df.head(10)

,_id,Name,Url,Telephone,Longitude,Latitude,AddressRegion,AddressLocality,AddressCountry,Tags
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Dunmore Cave,http://www.heritageireland.ie/en/south-east/du...,+353(0)567767726,-7.246921,52.733968,Kilkenny,Ballyfoyle,Republic of Ireland,Natural Landscape
2,2.0,Liberty Tree,NaN,+353(0)599130411,-6.929228,52.835025,Carlow,NaN,Republic of Ireland,Public Sculpture
3,3.0,Clonea Strand Blue Flag Beach 2019,http://www.blueflagireland.org/,NaN,-7.542846,52.096152,Waterford,Clonea,Republic of Ireland,Beach
4,4.0,Dublinia,https://www.facebook.com/dubliniaviking,+353(0)16794611,-6.272000,53.343123,Dublin,NaN,Republic of Ireland,Museums and Attraction
5,5.0,St. Audoen's Church,http://www.heritageireland.ie/en/dublin/staudo...,+353(0)16770088,-6.273575,53.343796,Dublin,NaN,Republic of Ireland,"Church Abbey,Monastery,Churches,Abbeys and Mon..."
6,6.0,Dalkey Castle & Heritage Centre,http://www.dalkeycastle.com,+353(0)12858366,-6.105461,53.278024,Dublin,Dalkey,Republic of Ireland,"Historic Houses and Castle,Castle"
7,7.0,Slieve League Cultural Centre,NaN,+353(0)749739077,-8.641766,54.635811,Donegal,Teelin,Republic of Ireland,Museums and Attraction
8,8.0,Shackleton Outdoor Education Centre,http://www.colaistedhulaigh.ie,+353(0)18481400,-6.213115,53.396804,Dublin,Coolock,Republic of Ireland,"Learning,Museums and Attraction"
9,9.0,The Trinity Tree Dingle,NaN,NaN,-10.271003,52.141565,Kerry,Dingle,Republic of Ireland,Public Sculpture

In [4]:
Attractions_df.shape

(2022, 10)

In [5]:
Attractions_df['Tags'].value_counts()

Tags
Museums and Attraction                                                                        317
Historic Houses and Castle,Castle                                                             191
Gardening,Nature and Wildlife,Gardens,Garden                                                  167
Beach                                                                                         158
Discovery Point                                                                               158
                                                                                             ...
Activity Operator,Learning,Museums and Attraction                                               1
Activity Operator,Kayaking,Learning,Museums and Attraction,Sailing                              1
Activity Operator,Natural Landscape,Tour,Walking                                                1
Activity Operator,Climbing,Kitesurfing,Windsurfing,Learning,Museums and Attraction,Surfing      1
Craft,Shopping,Art Gallery,Learning,Museums and Attraction,Photography                          1
Name: count, Length: 148, dtype: int64

In [6]:
Attractions_df['AddressLocality'].value_counts()

AddressLocality
Dublin City           26
Dublin City Centre    26
Kinsale               15
Killarney             13
Clonakilty            12
                      ..
Corrandulla            1
Dunkineely             1
Gortahork              1
Stranorlar             1
Foxrock                1
Name: count, Length: 600, dtype: int64

In [7]:
print(Attractions_df.isnull().sum())

_id                  1
Name                 1
Url                340
Telephone          425
Longitude            1
Latitude             1
AddressRegion       14
AddressLocality    618
AddressCountry       1
Tags                 1
dtype: int64